[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ntt18082001
	email = 74508253+ntt18082001@users.noreply.github.com
